
<!-- toc: table of contents -->
<link href="_includes/libs/tocify-1.9.1/jquery.tocify.css" rel="stylesheet">
<script src="_includes/libs/tocify-1.9.1/jquery-ui-1.9.2.custom.min.js"></script>
<script src="_includes/libs/tocify-1.9.1/jquery.tocify.min.js"></script>

<!-- Custom Fonts for agency.css eco-data-science -->
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

<!-- toc: table of contents -->
<style type="text/css">
@media (max-width: 992px) {
#toc {
  position: relative;
  width: 100%;
  margin: 0px 0px 20px 0px;
}
}
</style>
